# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

#API keys
.env

# Data files
data/raw/*.csv
data/raw/*.json
data/raw/*.parquet

# Generated data
data/processed/

# Generated reports
reports/*.html
reports/*.csv
reports/*.json

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db